@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* !animation */
@keyframes ring {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
/* !stope animation */
html {
  font-size: 10px;
}
/* !font base style */
h2 {
  font: 1.5rem;
  font-weight: 500;
  margin: 0;
}
p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
main {
  font-family: "Open Sans";
  color: #786450;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  width: 40rem;
  height: 40rem;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: #f5e8df;
}
.contact {
  width: 32rem;
  height: 29.9rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
}
.d-box {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e8df;
  width: 12rem;
  height: 9.9rem;
  gap: 1px;
  transition: all 0.4s ease-in-out;
}
.sotiol-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3.3rem;
}
.btn {
  width: 12rem;
  height: 3rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 1.5rem;
  border: 1px solid #786450;
  background-color: transparent;
  color: #786450;
  transition: all 0.3s ease-in-out;
}
#butotom-box {
  border-radius: 0 0 3px 0;
}
#top-box {
  border-radius: 0 3px 0 0;
}
/* ! imag animat */
.image {
  position: relative;
  width: 8.2rem;
  height: 8.2rem;
}
.image img {
  position: relative;
}
.ring-1 {
  position: absolute;
  width: 76px;
  height: 76px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #786450 #786450 #786450 transparent;
  animation: ring all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.ring-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: -7px;
  left: -7px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #786450 transparent #786450 #786450;
  transition: all 1.5s ease-in-out;
}
/* !animat */
.image:hover .ring-1 {
  transform: rotate(360deg);
}
.image:hover .ring-2 {
  transform: rotate(-360deg);
}
.btn:hover {
  background-color: #786450;
  color: #fff;
  cursor: pointer;
}
.box:hover {
  background-color: #e1cfc2;
}
.btn:active::after {
  content: attr();
}
